@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body {
    background-color:#96ceb4;
    margin: 0;
    padding: 0; 
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #666547;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 20px;
    background-color:#ffeead;
    border-radius: 5px;
    font-family: 'Fjalla One', sans-serif;

}

li a {
    padding: 10px;
    text-decoration: none;
    color: #666547;
    display: inline-block; 
    font-size: 25px;
}
li a:hover {
        color: gray;
}
.container {
    width: 100%; 
    max-width: 980px;
    margin: 0 auto;

}
.box-holder {
    padding: 50px;
    background-color: #ffeead;
    border-radius: 5px;
    margin: 25px 0;
    display: block;
}
.image-holder {
    width: 100%;
}
.image-holder img{
    width: calc(20%-10px);
    height: 150px;
    margin: 0;
    padding: 5px;
    vertical-align: bottom;
    float: left;    
}
p {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: #666547;
}
.about-me-main {
   display: flex;
   align-items: center;
}
.about-me-image {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin-left: 20px;
    border-width: 5px;
    border-style: solid;
    border-color:  #ffeead;
}


